@charset "UTF-8";

@font-face {
    font-family: 'Pocket Calculator';
    src: url('../imagens&fonts/pocket_calcuatlor_ot.otf') format('opentype'), url('../imagens&fonts/pocket_calcuatlor_tt.ttf') format('truetype');
     font-weight: normal;
}

:root{
    --num-tela: #ffffffaf;
    --cor-back-botoes: #493131;
    --cor-botoes-hover: #664343;
    --cor-borda: #131111;
    --cor-calc: #1a1919;
    --cor-fundo: linear-gradient(150deg, #2a34fa, #090f30)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    background: var(--cor-fundo);
    cursor:default;
}

div#calculadora{
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 19% 78% 3%;
    max-width: 400px;
    height: 70vh;
    
    background-color: var(--cor-calc);
    
}

div#tela{
    height: 65px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    
    text-align: end;
    line-height: 65px;
    font-family:'Pocket Calculator', Arial, Helvetica, sans-serif;
    font-size: 5em;
    overflow: hidden;
    border-bottom: 1px solid var(--cor-botoes-hover);
    color: var(--num-tela);
}

div#calculadora > p{
    color: var(--num-tela);
    font: normal 8pt arial;
    text-align: end;
    padding-right: 15px;
}

#container-btn{
    padding: 0px 15px;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    font-size: 1.7em;
    color: var(--num-tela);
    border: none;
    border-radius: 30px;
    background-color: var(--cor-back-botoes);
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background-color: var(--cor-botoes-hover);
}



#zero{
    grid-column: span 2;
}

#equal-btn{
   grid-row: span 2;
}

i{
    top: 116px;
    left: 111px;
}



