@charset "UTF-8";

@font-face {
    font-family: 'Pocket Calculator';
    src: url('../imagens&fonts/pocket_calcuatlor_ot.otf') format('opentype'), url('../imagens&fonts/pocket_calcuatlor_tt.ttf') format('truetype');
     font-weight: normal;
}

:root{
    --cor-botoes: #242222;
    --cor-calc: #1a1919;
    --cor-fundo: linear-gradient(150deg, #2a34fa, #090f30)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--cor-fundo);
}
#container{
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

div#calculadora{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background-color: var(--cor-calc);
    text-align: center;
    
}

div#tela{
    height: 20%;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 25px;
    
    text-align: end;
    line-height: 65px;
    font-family:'Pocket Calculator', Arial, Helvetica, sans-serif;
    font-size: 5em;
    overflow: hidden;
    border-bottom: 1px solid var(--cor-botoes);
    color: white;
}

table{

    margin: auto;
    margin-bottom: 10px;
}

table, tr, td{
    width: 100vw;
    height: 100%;
}

tr, td{
    height: 10%;
}


button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    padding: 10px;
   
    background-color: var(--cor-botoes);
    color: rgb(230, 229, 229);
    cursor: pointer;
    border-collapse:unset;
    
}
button:hover{
    background-color: #fac259;
}

i{
    top: 116px;
    left: 111px;
    color: rgb(235, 233, 233);
}

div#calculadora > p{
    color: rgba(255, 255, 255, 0.541);
    font: normal 8pt arial;
    text-align: end;
    padding-right: 15px;
}

